{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h2>Добро пожаловать на курс "Backend на FastAPI и введение в архитектуру web-приложений"!</h2>
    <br>
  <p> Этот курс предназначен для всех, кто желает освоить разработку backend-части веб-приложений с использованием FastAPI и получить введение в архитектурные концепции веб-приложений.</p>
  <h3>Цель программы обучения:</h3>
  <ol>
    <li>Познакомить вас с базовыми принципами разработки backend-части веб-приложений.</li>
    <li>Освоить использование FastAPI - современного и эффективного фреймворка для разработки веб-приложений на Python.</li>
    <li>Разработать навыки работы с API, обработкой запросов и ответов.</li>
    <li>Изучить основные архитектурные принципы и шаблоны веб-приложений.</li>
    <li>Предоставить практический опыт в создании эффективного и масштабируемого backend-кода.</li>
    <li>Ознакомить с инструментами тестирования и отладки веб-приложений.</li>
    <li>Обучить работе с базами данных, взаимодействию с ними через ORM (Object-Relational Mapping).</li>
    <li>Представить принципы безопасности веб-приложений и методы их обеспечения.</li>
  </ol>
  <p>Программа обучения включает в себя модули, посвященные как базовым концепциям разработки backend, так и практическим навыкам работы с FastAPI и архитектурными принципами веб-приложений. Каждый модуль содержит теоретические материалы, примеры кода и практические упражнения, чтобы помочь вам закрепить изученный материал.</p>
  <p>Мы рекомендуем следовать программе обучения поэтапно и активно применять полученные знания на практике. По завершении курса вы будете готовы не только создавать backend-часть веб-приложений с использованием FastAPI, но и понимать основные принципы архитектуры веб-приложений, что поможет вам в дальнейшем развитии в этой области.</p>
  <p>Желаем вам удачи в изучении "Backend на FastAPI и введение в архитектуру web-приложений"!</p>
</div>

<br>

<div class="container">
  <h2>Программа курса</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Модуль</th>
        <th scope="col">Пояснение</th>
        <th scope="col">Длит.(в неделях)</th>
        <th scope="col">Д/З(в часах)</th>
      </tr>
    </thead>
    <tbody>

<!--      1 строка-->
      <tr>
        <th scope="row">1</th>
        <td>Введение в архитектуру ЭВМ и ОС</td>
        <td>Принципы построения ЭВМ; Введение в язык ассемблера; Базовые элементы операционной системы; Процессы, потоки, многозадачность; Организация памяти; Межпроцессное взаимодействие</td>
        <td>2</td>
        <td>12</td>
      </tr>

<!--      2 строка-->
      <tr>
        <th scope="row">2</th>
        <td>Введение в Docker и docker-compose</td>
        <td>
          Образы и контейнеры;
          Создание своих образов;
          Работа с файлами;
          Переменные окружения, логи и порты;
          Введение в сети Docker;
          Веб-приложения в контейнерах;
          yaml файлы и docker-compose;
          Поверхностно о CI/CD и Kubernetes
        </td>
        <td>2</td>
        <td>12</td>
      </tr>

<!--      3 строка-->
      <tr>
        <th scope="row">3</th>
        <td>Введение в компьютерные сети</td>
        <td>Сетевые протоколы и модели OSI и TCP/IP
        Протоколы транспортного уровня TCP и UDP
        Протоколы прикладного уровня HTTP и HTTPS
        Веб-сервер nginx
        Сервер приложения gunicorn, протоколы CGI, FastCGI, WSGI</td>
        <td>1.5</td>
        <td>7</td>
      </tr>

<!--      4 строка-->
      <tr>
          <th scope="row" rowspan="3">4</th>
          <td rowspan="3">Введение в git</td>
          <td>
            Коммит и ветки, команды merge и rebase;
            Detached HEAD, команды reset и revert;
            Изменение истории коммитов, команды cherry-pick и интерактивный rebase;
          </td>
          <td>1.5</td>
          <td>10</td>
      </tr>
      <tr>
          <td>
            Удаленные репозитории, команды clone и fetch;
            Команды pull, pull –rebase и push;
            Коллективное взаимодействие с удаленным репозиторием, pull request
          </td>
          <td>1</td>
          <td>6</td>
      </tr>
      <tr>
          <td>Коллективный мини-проект и коллективное взаимодействие с удаленным репозиторием</td>
          <td>1</td>
          <td>-</td>
      </tr>

<!--      5 строка-->
      <tr>
          <th scope="row" rowspan="2">5</th>
          <td rowspan="2">Введение в базы данных на примере PostgreSQL</td>
          <td>Знакомство с языком SQL</td>
          <td>3</td>
          <td>23</td>
      </tr>
      <tr>
          <td>
            Проектирование архитектуры бд;
            Нормальные формы;
            Соединения и сессии;
            Транзакции;
            Оптимизация запросов и индексы
          </td>
          <td>3</td>
          <td>15</td>
      </tr>

<!--      6 строка-->
      <tr>
        <th scope="row">6</th>
        <td>Знакомство с архитектурными стилями SOLID, YAGNI.</td>
        <td>Разбор принципов проектирования SOLID</td>
        <td>1</td>
        <td>6</td>
      </tr>

<!--      7 строка-->
      <tr>
          <th scope="row" rowspan="2">7</th>
          <td rowspan="2">Знакомство с сериализатором Pydantic</td>
          <td>Сериализаторы pydantic и pydantic-settings; Структура проекта</td>
          <td>1</td>
          <td>4</td>
      </tr>
      <tr>
          <td>Коллективный мини-проект по отработки навыков git, SOLID, pydantic</td>
          <td>1</td>
          <td>-</td>
      </tr>

<!--      8 строка-->
      <tr>
          <th scope="row" rowspan="2">8</th>
          <td rowspan="2">Асинхронное программирование</td>
          <td>
            Событийный цикл;
            Асинхронность на коллбэках;
            Генераторы и событийный цикл Round Robin;
            Корутины;
            Фреймворк asyncio, ключевые слова async/await
          </td>
          <td>2</td>
          <td>10</td>
      </tr>
      <tr>
          <td>Решение задач на конкурентное программирование</td>
          <td>1</td>
          <td>2</td>
      </tr>

<!--      9 строка-->
      <tr>
          <th scope="row" rowspan="3">9</th>
          <td rowspan="3">Слоистая архитектура приложений на Python</td>
          <td>
            Знакомство с Domain driven design, слоистой архитектурой: слои репозиториев и сервисов;
            Слой Unit-of-work
          </td>
          <td>1.5</td>
          <td>15</td>
      </tr>
      <tr>
          <td>
            Знакомство с фреймворком dependency-injector и SQLAlchemy;
            Разбор проекта о погоде
          </td>
          <td>2.5</td>
          <td>10</td>
      </tr>
      <tr>
          <td>Домашний-классовый мини проект по отработке архитектуры веб-приложений, git</td>
          <td>2</td>
          <td>30</td>
      </tr>

<!--      10 строка-->
      <tr>
          <th scope="row" rowspan="3">10</th>
          <td rowspan="3">Веб-приложение на FastAPI</td>
          <td>
            Запуск FastAPI;
            Валидация входных данных при помощи pydantic;
            Подключение к бд;
            Запросы в бд при помощи SQLAlchemy;
            Авторизация и аутентификация;
            Шаблоны и шаблонизатор jinja
          </td>
          <td>2</td>
          <td>14</td>
      </tr>
      <tr>
          <td>
            Кэширование в Redis;
            Параллельное выполнение задач с Celery;
            Введение в тестирование: юнит и интеграционные тесты с фреймворком pytest
          </td>
          <td>4</td>
          <td>30</td>
      </tr>
      <tr>
          <td>Классовый мини-проект на FastAPI</td>
          <td>2</td>
          <td>-</td>
      </tr>

<!--      11 строка-->
      <tr>
        <th scope="row">11</th>
        <td>Поднятие инфраструктуры в Docker-контейнерах</td>
        <td>Поднимаем классовый проект в контейнерах</td>
        <td>0.5</td>
        <td>-</td>
      </tr>

<!--      12 строка-->
      <tr>
        <th scope="row">12</th>
        <td>Простой проект</td>
        <td>Самостоятельное выполнение проекта на FastAPI, обсуждение проблем в коллективе и с преподавателем</td>
        <td>2</td>
        <td>30</td>
      </tr>

<!--      13 строка-->
      <tr>
        <th scope="row">13</th>
        <td>Итоговый проект</td>
        <td>Полностью самостоятельное выполнение проекта на FastAPI</td>
        <td>1.5</td>
        <td>16</td>
      </tr>

 <!--      Итоговая строка-->
      <tr>
        <th scope="row"></th>
        <td colspan="2">Итог</td>
        <td>39</td>
        <td>252</td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<div class="container">
    <p>
      По окончании курса стек технологий, которым вы будете обладать:
      <b>Python, FastAPI, pytest, pydantic, PostgreSQL, SQLAlchemy, Docker, docker-compose, git, Nginx, Gunicorn, asyncio, aiohttp, Celery, RabbitMQ, Redis, dependency-injector.</b>
    </p>
</div>

<br>

<section class="container" id="price">
  <div class="row">
    <div class="col-md-6">
      <div style="border: 2px solid #ccc; background-color: #f8f8f8; border-radius: 5px; padding: 10px; text-align: center;">
        <p style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; margin-bottom: 10px;">Цена</p>
        <p style="font-family: Arial, sans-serif; font-size: 24px; margin-bottom: 10px;">600000 тг</p>
        <p style="font-family: Arial, sans-serif; font-size: 16px; margin-bottom: 0;">Возможна оплата помесячно</p>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
