{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h2>Добро пожаловать на курс "Python для начинающих с применением AI: От нуля к разработке"!</h2>
  <br>
  <p>Этот курс предназначен для тех, кто хочет освоить язык программирования Python с нуля и получить прочные основы для разработки приложений, автоматизации задач и работы с данными, включая применение искусственного интеллекта.</p>
  <h3>Цель программы обучения:</h3>
  <ul>
    <li>Познакомить вас с основами языка Python и его возможностями.</li>
    <li>Обучить эффективному использованию Python для разработки программ, решения задач и создания приложений с применением искусственного интеллекта.</li>
    <li>Разработать навыки работы с различными типами данных, коллекциями и циклами в Python.</li>
    <li>Предоставить практический опыт в создании функций, модулей и классов в Python.</li>
    <li>Освоить методы обработки ошибок и исключений, а также научиться юнит-тестированию кода.</li>
    <li>Представить концепции объектно-ориентированного программирования (ООП) и научиться применять их в Python.</li>
    <li>Изучить работу с модулями, пакетами и управлением зависимостями в проектах на Python.</li>
    <li>Разработать навыки работы с дополнительными возможностями языка Python, такими как отладка, работа с датами и временем, сериализация данных и многое другое.</li>
  </ul>
  <p>Программа обучения состоит из нескольких модулей, каждый из которых фокусируется на определенных аспектах языка Python с применением искусственного интеллекта. Каждый модуль включает в себя теоретические материалы, примеры кода и практические упражнения, чтобы вы могли закрепить полученные знания.</p>
  <p>Мы рекомендуем следовать программе обучения поэтапно и активно участвовать в практических заданиях, чтобы улучшить свои навыки программирования. По окончании программы вы будете иметь не только понимание основ Python, но и достаточно опыта для создания собственных проектов на этом языке с применением искусственного интеллекта.</p>
  <p>Мы желаем вам удачи в изучении Python и надеемся, что эта программа обучения станет вашим надежным путеводителем в мир программирования с применением искусственного интеллекта!</p>
</div>

<br>
  <div class="container">
    <h2>Программа обучения</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Модуль</th>
          <th scope="col">Пояснение</th>
          <th scope="col">Длительность<br>(в неделях)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Python. Введение</td>
          <td>Знакомство с Python. Установка редакторов кода. Введение в Anaconda</td>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Основы Python</td>
          <td>Типы данных, переменные, bool и None, тип string, форматирование строк, операторы сравнения, операции над файлами, строки и байты str, bytes, bytearray</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Коллекции, циклы и логика в Python</td>
          <td>List, dict, orderedDict vs dict, котреж, условия, set, for while, continue, break</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Практика</td>
          <td>Упражнения</td>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Функции и модули</td>
          <td>Функции, встроенные функции, основы функции, лямбды, вложенные функции и область видимости переменных, декораторы, декоратор @wraps</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Практика</td>
          <td>Упражнения</td>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Ошибки и исключения</td>
          <td>Основы обработки ошибок, выброс исключений, кастомные типы исключений, основы юнит-тестирования</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>ООП в Python</td>
          <td>Основы классов, атрибуты и методы, Константы, защищенные и приватные атрибуты, свойства, Статистические методы - @staticmethod, @classmethod, Наследование и полиморфизм, миксины, абстрактный класс и модуль ABC, магические методы</td>
          <td>3</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Модули и пакеты</td>
          <td>PyPi и PiP, модули и пакеты, name и main</td>
          <td>3</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Практика</td>
          <td>Упражнения</td>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Дополнительно</td>
          <td>Отладка, Stack, datetime – даты и время, Singleton Design Pattern: new и init, Pickle – консервирование, repr and str, eq and ne, eval, Deep copy vs Shallow copy, Enum – перечисления, JSON, генераторы, модуль intertools, интроспекция, модуль requests, управление памятью</td>
          <td>4</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Практика</td>
          <td>Групповой проект</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>Продвинутый Python Практика</td>
          <td>Введение в Линтеры, установка «системного» Python, виртуальное окружение, PyCharm, Refactoring, Quick Fixes, Debugging в PyCharm, Type Hints, введение в dataclasses</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Практика</td>
          <td>Упражнения</td>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td colspan="2">Итог</td>
          <td>27</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>

<section class="container" id="price">
  <div class="row">
    <div class="col-md-6">
      <div style="border: 2px solid #ccc; background-color: #f8f8f8; border-radius: 5px; padding: 10px; text-align: center;">
        <p style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; margin-bottom: 10px;">Цена</p>
        <p style="font-family: Arial, sans-serif; font-size: 24px; margin-bottom: 10px;">590000 тг</p>
        <p style="font-family: Arial, sans-serif; font-size: 16px; margin-bottom: 0;">Возможна оплата помесячно</p>
      </div>
    </div>
  </div>
</section>


{% endblock content %}