{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- О нас -->
  <section class="container" id="about">
    <h2 class="text-center">О нас</h2>
    <p>PyCodeX - это инновационная школа программирования, которая предлагает курсы для начинающих и опытных программистов. Мы стремимся сделать программирование доступным и интересным для всех.</p>
    <p>Одним из ключевых языков программирования, которому мы уделяем особое внимание, является Python. Python - это высокоуровневый, интерпретируемый язык программирования, который обладает простым и понятным синтаксисом. Он широко используется в различных областях, благодаря своей гибкости и мощным инструментам.</p>
    <p>Python активно применяется в разработке веб-приложений, создании автоматизированных скриптов, анализе данных, научных исследованиях, искусственном интеллекте, машинном обучении, игровой индустрии и многих других областях. Благодаря своей простоте и эффективности, Python позволяет разработчикам создавать мощные и интуитивно понятные программы.</p>
    <p>В PyCodeX мы предлагаем курсы по Python, которые помогут вам освоить этот язык программирования с нуля или углубить свои знания. Наши опытные преподаватели и практический подход к обучению помогут вам стать уверенным Python-разработчиком и применять свои навыки в реальных проектах.</p>

  </section>

  <!-- Курсы -->
  <section class="container" id="courses">
    <h2 class="text-center">Курсы</h2>
    <div class="row">

      <div class="col-md-4">
        <div class="card">
          <img src="{% static 'images/banner_img.jpg' %}" class="card-img-top" alt="Курс 1">
          <div class="card-body">
            <h5 class="card-title">Python для начинающих с применением AI: От нуля к разработке</h5>
            <p class="card-text">курс для начинающих</p>
            <a href="{% url 'course' 1 %}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="{% static 'images/banner_img.jpg' %}" class="card-img-top" alt="Курс 2">
          <div class="card-body">
            <h5 class="card-title">Backend на FastAPI и введение в архитектуру web-приложений</h5>
            <p class="card-text">курс для продолжающих</p>
            <a href="{% url 'course' 2 %}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

<!--      <div class="col-md-4">-->
<!--        <div class="card">-->
<!--          <img src="path_to_image.jpg" class="card-img-top" alt="Курс 3">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Название курса 3</h5>-->
<!--            <p class="card-text">Описание курса 3</p>-->
<!--            <a href="#" class="btn btn-primary">Подробнее</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </section>

  <br>
  <!-- Наша команда -->
  <section class="container" id="team">
    <h2 class="text-center">Наша команда</h2>
    <div class="row">
        <!-- Член команды 1 -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Амирхан Ахметов</h3>
                    <img src="{% static 'images/amirkhan_akhmetov.jpg' %}" class="img-fluid mb-3 mx-auto d-block" alt="Амирхан Ахметов" style="max-width: 300px;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Должность в PyCodeX:</strong></td>
                                <td colspan="2">Генеральный директор, преподаватель</td>
                            </tr>
                            <tr>
                                <td colspan="3"><hr></td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>Опыт работы:</strong></td>
                            </tr>
                            <tr>
                                <td>CodeCrafters Ltd.</td>
                                <td>Ведущий веб-разработчик</td>
                                <td>Март 2019 — настоящее время</td>
                            </tr>
                            <tr>
                                <td colspan="3"><hr></td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>Ключевые навыки:</strong></td>
                            </tr>
                            <tr>
                                <td colspan="3">Python, MATLAB, pandas, numpy, pygame, Docker, git, Продвинутые навыки в нейросетях (ChatGPT от Open AI, Midjourney, DALLE 2, Leonardo, Copilot и т.п.), разработка ИИ, опыт файнтюнинга</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Конец члена команды 1 -->

        <!-- Член команды 2 -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Семен Накрохин</h3>
                    <img src="{% static 'images/semyon_nakrokhin.jpg' %}" class="img-fluid mb-3 mx-auto d-block" alt="Семен Накрохин" style="max-width: 300px;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Должность в PyCodeX:</strong></td>
                                <td colspan="2">Преподаватель</td>
                            </tr>
                            <tr>
                                <td colspan="3"><hr></td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>Опыт работы:</strong></td>
                            </tr>
                            <tr>
                                <td>Школа программирования FluentCoder, Астана</td>
                                <td>Преподаватель программирования</td>
                                <td>Ноябрь 2022 — май 2023</td>
                            </tr>
                            <tr>
                                <td>Центральный аэрогидродинамический институт имени профессора Н. Е. Жуковского (ФАУ «ЦАГИ»)</td>
                                <td>Инженер-разработчик</td>
                                <td>Сентябрь 2020 — сентябрь 2022</td>
                            </tr>
                            <tr>
                                <td colspan="3"><hr></td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>Ключевые навыки:</strong></td>
                            </tr>
                            <tr>
                                <td colspan="3">Python, Git, PostgreSQL, Django Framework, Linux, SQL, Docker, Redis, Английский язык, RabbitMQ, HTML, aiohttp, Unit Testing, Nginx, Celery, asyncio, SOLID, ООП, FastAPI, DRF, SQLAlchemy, asyncpg, pytest, REST API, CSS, Базы данных, Docker-compose, dependency-injector</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Конец члена команды 2 -->
    </div>
  </section>

  <!-- Контакты -->
  <section class="container" id="contacts">
    <h2 class="text-center">Контакты</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Телефон</h5>
            <p class="card-text">+7 702 482-36-66</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p class="card-text">Amirkhan.Akhmetov@bsbnb.kz</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Адрес</h5>
            <p class="card-text">Казахстан, город Астана</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}